# <a id='toc1_'></a>[Введение в SQL: как писать простые запросы](#toc0_)
https://blog.hubspot.com/marketing/sql-tutorial-introduction

**Table of contents**<a id='toc0_'></a>    
- [Перед началом работы](#toc1_1_)    
- [Вводное слово](#toc1_2_)    
- [Как выполнять запросы к базе данных SQL](#toc1_3_)    
- [Что такое SQL?](#toc1_4_)    
- [Зачем использовать SQL?](#toc1_5_)    
- [Иерархия базы данных SQL](#toc1_6_)    
- [Использование команды SELECT](#toc1_7_)    
- [Используя команду FROM](#toc1_8_)    
- [Команда WHERE](#toc1_9_)    
- [Используя команду BETWEEN](#toc1_10_)    
- [С помощью команды AND](#toc1_11_)    
- [С помощью команды OR](#toc1_12_)    
- [С помощью команды NOT](#toc1_13_)    
- [С помощью команды ORDER BY](#toc1_14_)    
- [Использование команды GROUP BY](#toc1_15_)    
- [ORDER BY VS. GROUP BY](#toc1_16_)    
- [Использование функции ОГРАНИЧЕНИЯ](#toc1_17_)    
- [С помощью команды INSERT INTO](#toc1_18_)    
- [Используя команду UPDATE](#toc1_19_)    
- [Используя команду DELETE](#toc1_20_)    
- [Бонус: Дополнительные советы по SQL](#toc1_21_)    
- [ЗА ПОСЛЕДНИЕ 30 ДНЕЙ](#toc1_22_)    
- [COUNT](#toc1_23_)    
- [AVG](#toc1_24_)    
- [SUM](#toc1_25_)    
- [Использование MIN и MAX](#toc1_26_)    
- [С помощью команды JOIN](#toc1_27_)    
- [Используя оператор CASE](#toc1_28_)    
- [Основные SQL-запросы, которые должны знать Маркетологи](#toc1_29_)    

<!-- vscode-jupyter-toc-config
	numbering=false
	anchor=true
	flat=false
	minLevel=1
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

## <a id='toc1_1_'></a>[Перед началом работы](#toc0_)
1. Создать виртуальное окружение python3 -m venv venv
2. Установить зависимости pip install requirements.txt
3. Установить MySQL
4. Подключить базу:

In [1]:
%load_ext sql
%sql mysql://root:1234@localhost/NewEngland

Проверим подключение к базе:

In [2]:
%%sql
SELECT VERSION();

 * mysql://root:***@localhost/NewEngland
1 rows affected.

[('8.0.43',)]

## <a id='toc1_2_'></a>[Вводное слово](#toc0_)
Вы когда-нибудь слышали о SQL? Возможно, вы слышали о нём в контексте анализа данных, но никогда не думали, что он может пригодиться вам как маркетологу. Или, может быть, вы думали: «Это для продвинутых пользователей данных. Я бы никогда не смог этого сделать».

Что ж, вы глубоко заблуждаетесь. Самые успешные маркетологи ориентируются на данные, и одна из важнейших составляющих работы с данными — это быстрый сбор информации из баз данных. SQL — самый популярный инструмент для этого.

Если ваша компания уже хранит данные в базе, вам может понадобиться изучить SQL для доступа к этим данным. Но не волнуйтесь — вы на правильном пути. Давайте приступим.

## <a id='toc1_3_'></a>[Как выполнять запросы к базе данных SQL](#toc0_)
* Убедитесь, что у вас есть приложение для управления базами данных (например, MySQL Workbench, Sequel Pro).
* Если нет, скачайте приложение для управления базами данных и обратитесь в свою компанию, чтобы подключить базу данных.
* Изучите свою базу данных и её иерархию.
* Узнайте, какие поля есть в ваших таблицах.
* Начните писать SQL-запрос для получения нужных данных.

## <a id='toc1_4_'></a>[Что такое SQL?](#toc0_)
SQL — это язык программирования, который позволяет управлять реляционными базами данных и манипулировать ими. Обычно его произносят как «сиквел». SQL — важный инструмент для компаний, которым необходимо регулярно получать доступ к большим массивам данных и анализировать их. SQL позволяет извлекать определённые данные с помощью запроса, обновлять существующие данные, вставлять новые данные, удалять данные и делать многое другое.


С помощью SQL вам не нужно скачивать и открывать огромную таблицу Excel, чтобы получить нужные ответы.

Вы можете задавать такие вопросы, как «Кто из покупателей за последние шесть месяцев приобретал красный комбинезон?», а SQL извлечёт данные из вашей базы и вернёт их вам без необходимости вручную просматривать CSV-файл.

## <a id='toc1_5_'></a>[Зачем использовать SQL?](#toc0_)
SQL — полезный инструмент для компаний, которые работают с данными (подсказка: большинство из них так и делают). Вот несколько примеров и причин, по которым вам стоит освоить SQL:

* Ваши данные в SQL-базе защищены лучше, поскольку пользователям сложнее случайно удалить или повредить их, чем в таблице Excel
* SQL позволяет управлять наборами данных, содержащими тысячи записей
* SQL позволяет нескольким пользователям беспрепятственно получать доступ к одной базе данных
* Ролевая авторизация позволяет контролировать доступ к конфиденциальным данным
* SQL обеспечивает мощную визуализацию данных
* SQL обеспечивает целостность данных, поэтому ваши данные всегда точны и непротиворечивы

## <a id='toc1_6_'></a>[Иерархия базы данных SQL](#toc0_)
База данных SQL — это реляционная база данных, то есть данные в ней структурированы в виде таблиц, связанных друг с другом на основе заранее определённых отношений.

Информация в базе данных SQL структурирована иерархически, подобно генеалогическому древу. Это означает, что элементы верхнего уровня имеют более широкую область применения и разветвляются на несколько более конкретных подуровней.

В контексте SQL верхний уровень — это сервер базы данных, также называемый экземпляром. В вашем экземпляре хранятся все ваши данные. В экземпляре может быть несколько баз данных, каждая из которых содержит данные, организованные по какой-либо общей категории.

База данных разбита на таблицы. В таблице хранятся фактические данные. На уровне таблицы данные организованы по столбцам и строкам и размещены в полях, почти как в электронной таблице Excel.

Давайте представим, что мы работаем с несколькими базами данных о людях в Соединённых Штатах. При вводе запроса «SHOW DATABASES;»

In [3]:
%%sql
SHOW DATABASES;

 * mysql://root:***@localhost/NewEngland
7 rows affected.

[('information_schema',),
 ('mysql',),
 ('newengland',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('world',)]

отображаются все базы данных в вашей системе, в том числе база данных под названием NewEngland.

База данных содержит таблицы, а в этих таблицах находятся ваши данные.

Прим: инициализируем сначала объекты БД, если это еще не было сделано:

In [4]:
%%sql

-- Удаление всех таблиц
DROP TABLE IF EXISTS people_connecticut;
DROP TABLE IF EXISTS people_maine;
DROP TABLE IF EXISTS people_massachusetts;
DROP TABLE IF EXISTS people_newhampshire;
DROP TABLE IF EXISTS people_rhodeisland;
DROP TABLE IF EXISTS people_vermont;
DROP TABLE IF EXISTS haircolor_massachusetts;
DROP TABLE IF EXISTS birthdate_massachusetts;


CREATE TABLE birthdate_massachusetts (
    user_id INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    birth_date DATE
);

CREATE TABLE haircolor_massachusetts (
    user_id INT PRIMARY KEY,
    hair_color VARCHAR(20),
    FOREIGN KEY (user_id) REFERENCES birthdate_massachusetts(user_id)
);

CREATE TABLE IF NOT EXISTS people_connecticut (
    id INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    age INT,
    hair_color VARCHAR(20),
    address_city VARCHAR(50),
    address_state VARCHAR(50),
    address_zip VARCHAR(10)
);

CREATE TABLE IF NOT EXISTS people_maine (
    id INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    age INT,
    hair_color VARCHAR(20),
    address_city VARCHAR(50),
    address_state VARCHAR(50),
    address_zip VARCHAR(10)
);

CREATE TABLE people_massachusetts (
    id INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    age INT,
    hair_color VARCHAR(20),
    birth_date DATE,
    address_city VARCHAR(100),
    address_state VARCHAR(50),
    address_zip VARCHAR(10)
);

CREATE TABLE IF NOT EXISTS people_newhampshire (
    id INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    age INT,
    hair_color VARCHAR(20),
    address_city VARCHAR(50),
    address_state VARCHAR(50),
    address_zip VARCHAR(10)
);

CREATE TABLE IF NOT EXISTS people_rhodeisland (
    id INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    age INT,
    hair_color VARCHAR(20),
    address_city VARCHAR(50),
    address_state VARCHAR(50),
    address_zip VARCHAR(10)
);

CREATE TABLE IF NOT EXISTS people_vermont (
    id INT AUTO_INCREMENT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    age INT,
    hair_color VARCHAR(20),
    address_city VARCHAR(50),
    address_state VARCHAR(50),
    address_zip VARCHAR(10)
);

INSERT INTO birthdate_massachusetts (first_name, last_name, birth_date) VALUES
('John', 'Smith', '2003-07-18'),
('Vladislav', 'Shivtsov', '2003-05-14'),
('Mikhail', 'Shivtsov', '2003-05-14'),
('Dmitry', 'Shivtsov', '2003-05-14'),
('Emily', 'Johnson', '2003-09-22'),
('Michael', 'Brown', '2003-12-01'),
('Sarah', 'Miller', '1990-07-11'),
('David', 'Wilson', '1979-03-02'),
('Olivia', 'Davis', '1996-11-19'),
('James', 'Anderson', '1986-01-27'),
('Sophia', 'Martinez', '1998-08-06');

INSERT INTO haircolor_massachusetts (user_id, hair_color) VALUES
(1, 'red'),
(2, 'red'),
(3, 'red'),
(4, 'red'),
(5, 'blonde'),
(6, 'brown'),
(7, 'black'),
(8, 'gray'),
(9, 'brown'),
(10, 'blonde'),
(11, 'red');

-- Данные для Connecticut
INSERT INTO people_connecticut (first_name, last_name, age, hair_color, address_city, address_state, address_zip) VALUES
('David','Wilson',25,'black','Hartford','Connecticut','06103'),
('Emma','Taylor',30,'brown','New Haven','Connecticut','06510'),
('Liam','Anderson',28,'blonde','Bridgeport','Connecticut','06604'),
('Olivia','Thomas',22,'red','Stamford','Connecticut','06901'),
('Noah','Martinez',35,'black','Waterbury','Connecticut','06702'),
('Ava','Moore',27,'blonde','Norwalk','Connecticut','06850'),
('Ethan','Jackson',31,'brown','Danbury','Connecticut','06810'),
('Sophia','White',29,'red','Greenwich','Connecticut','06830'),
('Mason','Harris',24,'black','New Britain','Connecticut','06051'),
('Isabella','Clark',26,'blonde','Meriden','Connecticut','06450');

-- Данные для Maine
INSERT INTO people_maine (first_name, last_name, age, hair_color, address_city, address_state, address_zip) VALUES
('Eve','Davis',22,'brown','Portland','Maine','04101'),
('James','Robinson',33,'black','Augusta','Maine','04330'),
('Mia','Lewis',27,'blonde','Bangor','Maine','04401'),
('Benjamin','Walker',30,'red','Lewiston','Maine','04240'),
('Charlotte','Hall',25,'brown','South Portland','Maine','04106'),
('Elijah','Allen',29,'black','Auburn','Maine','04210'),
('Amelia','Young',28,'blonde','Biddeford','Maine','04005'),
('Logan','King',24,'red','Saco','Maine','04072'),
('Harper','Wright',26,'brown','Westbrook','Maine','04092'),
('Alexander','Scott',31,'black','Bath','Maine','04530');

-- Данные для Massachusetts
INSERT INTO people_massachusetts (first_name, last_name, age, hair_color, birth_date, address_city, address_state, address_zip) VALUES
('Dmitry','Miller',22,'gray','2003-04-27','Worcester','Massachusetts','01609'),
('Olivia','Miller',26,'brown','1999-12-12','Quincy','Massachusetts','02169'),
('James','Hill',26,'black','1999-11-18','Boston','Massachusetts','02108'),
('Mikhail','Martinez',27,'brown','1998-07-13','Cambridge','Massachusetts','02139'),
('Thomas','Green',26,'blonde','1999-06-27','Newton','Massachusetts','02458'),
('Sarah','Pick',25,'red','2000-03-14','Newton','Massachusetts','02458'),
('Robert','Black',24,'black','2001-05-06','Springfield','Massachusetts','01103'),
('Michael','Pick',26,'red','1999-05-17','Lowell','Massachusetts','01850'),
('Michael','Shivtsov',23,'gray','2002-06-26','Lowell','Massachusetts','01850'),
('Vladislav','Green',23,'blonde','2002-01-17','Springfield','Massachusetts','01103'),
('Michael','White',23,'red','2002-09-20','Springfield','Massachusetts','01103'),
('James','Wilson',25,'red','2000-12-02','Quincy','Massachusetts','02169'),
('Elizabeth','Martinez',22,'blonde','2003-05-15','Lowell','Massachusetts','01850'),
('Olivia','Johnson',24,'brown','2001-09-10','Brookline','Massachusetts','02445'),
('Michael','King',25,'black','2000-12-15','Newton','Massachusetts','02458'),
('William','Black',30,'blonde','1995-11-14','Newton','Massachusetts','02458'),
('Mikhail','King',27,'blonde','1998-09-03','Springfield','Massachusetts','01103'),
('Anna','Pick',26,'red','1999-04-17','Cambridge','Massachusetts','02139'),
('James','Black',26,'brown','1999-11-09','Cambridge','Massachusetts','02139'),
('James','Virgin',30,'blonde','1995-03-13','Springfield','Massachusetts','01103'),
('Robert','Brown',30,'gray','1995-01-21','Quincy','Massachusetts','02169'),
('James','Virgin',25,'blonde','2000-07-17','Lowell','Massachusetts','01850'),
('Thomas','Shivtsov',24,'gray','2001-04-21','Cambridge','Massachusetts','02139'),
('Robert','Green',26,'gray','1999-06-21','Worcester','Massachusetts','01609'),
('Charles','Johnson',26,'black','1999-05-08','Lowell','Massachusetts','01850'),
('Thomas','Davis',22,'brown','2003-09-10','Quincy','Massachusetts','02169'),
('Olivia','Pick',27,'blonde','1998-08-03','Quincy','Massachusetts','02169'),
('Sophia','Pick',25,'blonde','2000-06-19','Boston','Massachusetts','02108'),
('David','Smith',22,'brown','2003-02-07','Newton','Massachusetts','02458'),
('Dick','Shivtsov',27,'brown','1998-08-01','Newton','Massachusetts','02458'),
('Mikhail','Brown',26,'red','1999-11-23','Boston','Massachusetts','02108'),
('Anna','Martinez',27,'blonde','1998-04-12','Springfield','Massachusetts','01103'),
('Linda','Davis',26,'black','1999-12-14','Quincy','Massachusetts','02169'),
('Sarah','Hill',30,'gray','1995-05-22','Boston','Massachusetts','02108'),
('Sophia','Baker',27,'gray','1998-02-16','Quincy','Massachusetts','02169'),
('Anna','Hill',23,'red','2002-07-25','Springfield','Massachusetts','01103'),
('Extra','Scott',24,'brown','2001-06-17','Boston','Massachusetts','02108'),
('Michael','Anderson',24,'black','2001-10-01','Boston','Massachusetts','02108'),
('Charles','Brown',23,'blonde','2002-09-26','Lowell','Massachusetts','01850'),
('John','Scott',30,'red','1995-02-24','Quincy','Massachusetts','02169'),
('James','Shivtsov',26,'red','1999-12-21','Brookline','Massachusetts','02445'),
('James','Scott',30,'black','1995-06-20','Cambridge','Massachusetts','02139'),
('Vladislav','Virgin',26,'black','1999-04-10','Newton','Massachusetts','02458'),
('Charles','Wilson',24,'brown','2001-05-27','Springfield','Massachusetts','01103'),
('William','King',22,'gray','2003-05-23','Newton','Massachusetts','02458'),
('Linda','Wilson',23,'blonde','2002-11-22','Boston','Massachusetts','02108'),
('Michael','Smith',22,'blonde','2003-10-03','Lowell','Massachusetts','01850'),
('Robert','Miller',26,'gray','1999-11-03','Newton','Massachusetts','02458'),
('Vladislav','Davis',24,'gray','2001-01-27','Newton','Massachusetts','02458'),
('Elizabeth','Miller',24,'blonde','2001-05-16','Cambridge','Massachusetts','02139'),
('Jessica','Pick',23,'blonde','2002-11-02','Cambridge','Massachusetts','02139'),
('Emily','Scott',25,'brown','2000-10-24','Quincy','Massachusetts','02169'),
('Extra','Miller',24,'gray','2001-04-28','Newton','Massachusetts','02458'),
('Emily','Smith',23,'red','2002-02-02','Brookline','Massachusetts','02445'),
('Michael','Green',23,'blonde','2002-06-11','Cambridge','Massachusetts','02139'),
('Dmitry','Davis',23,'red','2002-12-11','Quincy','Massachusetts','02169'),
('William','Anderson',22,'brown','2003-09-19','Lowell','Massachusetts','01850'),
('Emily','King',22,'black','2003-09-05','Springfield','Massachusetts','01103'),
('Elizabeth','Hill',30,'black','1995-11-24','Newton','Massachusetts','02458'),
('Jessica','Pick',25,'red','2000-03-17','Quincy','Massachusetts','02169'),
('John','Green',24,'black','2001-08-15','Newton','Massachusetts','02458'),
('James','Hill',26,'black','1999-11-10','Newton','Massachusetts','02458'),
('Robert','Martinez',24,'brown','2001-03-24','Brookline','Massachusetts','02445'),
('Mikhail','Adams',23,'gray','2002-07-24','Brookline','Massachusetts','02445'),
('Olivia','Anderson',30,'gray','1995-03-12','Worcester','Massachusetts','01609'),
('Extra','Shivtsov',24,'brown','2001-02-19','Quincy','Massachusetts','02169'),
('Michael','King',23,'black','2002-07-25','Brookline','Massachusetts','02445'),
('David','Brown',27,'blonde','1998-05-05','Worcester','Massachusetts','01609'),
('Mikhail','Scott',30,'gray','1995-05-28','Springfield','Massachusetts','01103'),
('Thomas','Virgin',22,'brown','2003-09-12','Boston','Massachusetts','02108'),
('John','Davis',22,'red','2003-12-06','Quincy','Massachusetts','02169'),
('Jessica','White',27,'black','1998-03-28','Quincy','Massachusetts','02169'),
('John','Green',24,'black','2001-09-06','Brookline','Massachusetts','02445'),
('Elizabeth','King',30,'black','1995-01-25','Brookline','Massachusetts','02445'),
('Sophia','Hill',30,'red','1995-10-23','Boston','Massachusetts','02108'),
('Sophia','King',27,'brown','1998-02-21','Brookline','Massachusetts','02445'),
('Sophia','Davis',22,'red','2003-01-23','Springfield','Massachusetts','01103'),
('Extra','Green',24,'blonde','2001-10-27','Boston','Massachusetts','02108'),
('Jessica','Hill',23,'brown','2002-02-24','Springfield','Massachusetts','01103'),
('Robert','White',27,'blonde','1998-02-23','Springfield','Massachusetts','01103'),
('James','Davis',26,'blonde','1999-03-09','Springfield','Massachusetts','01103'),
('Anna','Smith',24,'black','2001-10-28','Worcester','Massachusetts','01609'),
('Dick','Johnson',27,'black','1998-02-22','Lowell','Massachusetts','01850'),
('James','Johnson',22,'brown','2003-03-12','Boston','Massachusetts','02108'),
('Anna','King',23,'blonde','2002-01-13','Quincy','Massachusetts','02169'),
('John','Adams',23,'brown','2002-06-18','Springfield','Massachusetts','01103'),
('Dmitry','Brown',26,'black','1999-01-21','Lowell','Massachusetts','01850'),
('Vladislav','Johnson',22,'black','2003-03-18','Springfield','Massachusetts','01103'),
('Sophia','Smith',27,'blonde','1998-08-06','Newton','Massachusetts','02458'),
('Jessica','Davis',26,'blonde','1999-05-22','Quincy','Massachusetts','02169'),
('Michael','King',26,'gray','1999-04-14','Newton','Massachusetts','02458'),
('Jessica','Green',22,'blonde','2003-07-23','Worcester','Massachusetts','01609'),
('Linda','Hill',22,'brown','2003-03-24','Worcester','Massachusetts','01609'),
('Anna','Johnson',25,'blonde','2000-12-21','Lowell','Massachusetts','01850'),
('Sophia','Anderson',25,'black','2000-04-03','Springfield','Massachusetts','01103'),
('Linda','Brown',27,'gray','1998-03-17','Brookline','Massachusetts','02445'),
('Michael','Hill',22,'black','2003-04-22','Lowell','Massachusetts','01850'),
('Extra','Wilson',30,'blonde','1995-08-02','Boston','Massachusetts','02108'),
('Michael','Martinez',24,'brown','2001-02-21','Quincy','Massachusetts','02169'),
('Linda','Baker',23,'blonde','2002-12-27','Springfield','Massachusetts','01103'),
('Sarah','Smith',23,'black','2002-01-28','Springfield','Massachusetts','01103'),
('Olivia','Pick',24,'gray','2001-07-13','Boston','Massachusetts','02108'),
('Vladislav','Smith',23,'blonde','2002-06-21','Brookline','Massachusetts','02445'),
('Sarah','Miller',26,'red','1999-01-04','Boston','Massachusetts','02108'),
('John','Wilson',23,'black','2002-07-23','Quincy','Massachusetts','02169'),
('Jessica','Shivtsov',26,'brown','1999-09-23','Quincy','Massachusetts','02169'),
('Thomas','Pick',25,'blonde','2000-05-02','Boston','Massachusetts','02108'),
('Linda','Brown',26,'blonde','1999-12-27','Cambridge','Massachusetts','02139'),
('Linda','Virgin',26,'brown','1999-04-23','Boston','Massachusetts','02108'),
('Vladislav','Davis',23,'black','2002-04-20','Cambridge','Massachusetts','02139'),
('Extra','Davis',27,'brown','1998-12-04','Springfield','Massachusetts','01103'),
('John','Shivtsov',22,'gray','2003-10-06','Brookline','Massachusetts','02445'),
('Sophia','Adams',24,'blonde','2001-03-02','Lowell','Massachusetts','01850'),
('Elizabeth','Anderson',27,'brown','1998-01-22','Boston','Massachusetts','02108'),
('David','Pick',25,'gray','2000-09-28','Cambridge','Massachusetts','02139'),
('Sarah','Wilson',30,'gray','1995-06-07','Springfield','Massachusetts','01103'),
('Emily','King',22,'blonde','2003-02-23','Worcester','Massachusetts','01609'),
('William','Martinez',23,'blonde','2002-01-21','Boston','Massachusetts','02108'),
('Elizabeth','Miller',23,'black','2002-07-18','Worcester','Massachusetts','01609'),
('Robert','Anderson',22,'blonde','2003-04-07','Cambridge','Massachusetts','02139'),
('Sarah','Green',26,'brown','1999-08-02','Worcester','Massachusetts','01609'),
('Sophia','Davis',25,'gray','2000-06-13','Newton','Massachusetts','02458'),
('Vladislav','Virgin',30,'brown','1995-06-28','Cambridge','Massachusetts','02139'),
('Linda','Shivtsov',27,'black','1998-12-16','Lowell','Massachusetts','01850'),
('Elizabeth','Baker',22,'blonde','2003-10-15','Worcester','Massachusetts','01609'),
('William','Hill',30,'gray','1995-04-18','Newton','Massachusetts','02458'),
('Dick','Brown',26,'gray','1999-01-16','Cambridge','Massachusetts','02139'),
('Dick','Virgin',27,'red','1998-12-07','Springfield','Massachusetts','01103'),
('Vladislav','Black',23,'gray','2002-01-08','Brookline','Massachusetts','02445'),
('Emily','Anderson',26,'red','1999-03-28','Worcester','Massachusetts','01609'),
('Sarah','Davis',26,'gray','1999-03-16','Springfield','Massachusetts','01103'),
('John','White',23,'black','2002-11-02','Boston','Massachusetts','02108'),
('John','King',30,'blonde','1995-03-11','Springfield','Massachusetts','01103'),
('John','Johnson',30,'black','1995-06-06','Cambridge','Massachusetts','02139'),
('David','Virgin',22,'gray','2003-12-11','Cambridge','Massachusetts','02139'),
('John','Davis',23,'gray','2002-05-14','Worcester','Massachusetts','01609'),
('Thomas','Davis',23,'gray','2002-12-01','Brookline','Massachusetts','02445'),
('John','Johnson',26,'black','1999-07-14','Worcester','Massachusetts','01609'),
('Elizabeth','Pick',22,'black','2003-01-27','Cambridge','Massachusetts','02139'),
('Emily','Johnson',24,'gray','2001-07-02','Springfield','Massachusetts','01103'),
('Jessica','Black',24,'red','2001-02-12','Worcester','Massachusetts','01609'),
('Emily','Virgin',27,'blonde','1998-06-01','Newton','Massachusetts','02458'),
('James','Hill',27,'gray','1998-04-13','Springfield','Massachusetts','01103'),
('Olivia','King',25,'gray','2000-03-22','Quincy','Massachusetts','02169'),
('Jessica','Miller',24,'blonde','2001-11-19','Springfield','Massachusetts','01103'),
('Robert','Adams',24,'black','2001-02-23','Quincy','Massachusetts','02169'),
('Dmitry','Black',24,'red','2001-09-17','Brookline','Massachusetts','02445'),
('Thomas','Virgin',30,'brown','1995-07-09','Newton','Massachusetts','02458'),
('John','Brown',30,'black','1995-08-20','Worcester','Massachusetts','01609'),
('Thomas','Adams',25,'black','2000-04-01','Boston','Massachusetts','02108'),
('Thomas','Davis',30,'red','1995-03-18','Springfield','Massachusetts','01103'),
('Robert','Davis',30,'blonde','1995-06-27','Boston','Massachusetts','02108'),
('William','Anderson',23,'gray','2002-12-08','Springfield','Massachusetts','01103'),
('Anna','Johnson',27,'gray','1998-04-12','Brookline','Massachusetts','02445'),
('Jessica','Anderson',25,'gray','2000-06-28','Newton','Massachusetts','02458'),
('Michael','Smith',24,'black','2001-04-24','Boston','Massachusetts','02108'),
('Extra','Adams',26,'red','1999-06-11','Springfield','Massachusetts','01103'),
('Sophia','White',27,'black','1998-02-28','Worcester','Massachusetts','01609'),
('Elizabeth','Smith',30,'blonde','1995-12-14','Newton','Massachusetts','02458'),
('Robert','Davis',26,'brown','1999-02-23','Newton','Massachusetts','02458'),
('Jessica','Shivtsov',30,'blonde','1995-01-01','Worcester','Massachusetts','01609'),
('Robert','Hill',27,'black','1998-07-19','Newton','Massachusetts','02458'),
('Extra','Virgin',24,'gray','2001-03-20','Lowell','Massachusetts','01850'),
('Sophia','Johnson',22,'gray','2003-05-13','Quincy','Massachusetts','02169'),
('Charles','Anderson',25,'black','2000-09-01','Lowell','Massachusetts','01850'),
('Sophia','King',23,'red','2002-01-21','Lowell','Massachusetts','01850'),
('Olivia','Adams',30,'blonde','1995-04-12','Quincy','Massachusetts','02169'),
('John','Adams',25,'gray','2000-05-02','Worcester','Massachusetts','01609'),
('Vladislav','Black',30,'blonde','1995-11-14','Lowell','Massachusetts','01850'),
('Mikhail','Davis',24,'blonde','2001-01-15','Boston','Massachusetts','02108'),
('Linda','Martinez',24,'blonde','2001-02-16','Worcester','Massachusetts','01609'),
('Jessica','Hill',25,'blonde','2000-12-14','Lowell','Massachusetts','01850'),
('Robert','White',23,'gray','2002-11-25','Springfield','Massachusetts','01103'),
('Sarah','Adams',26,'blonde','1999-09-14','Quincy','Massachusetts','02169'),
('Emily','Baker',26,'brown','1999-02-10','Newton','Massachusetts','02458'),
('Dmitry','Wilson',25,'blonde','2000-09-08','Worcester','Massachusetts','01609'),
('Mikhail','White',24,'red','2001-09-21','Cambridge','Massachusetts','02139'),
('William','Anderson',27,'red','1998-02-16','Cambridge','Massachusetts','02139'),
('Jessica','Miller',22,'black','2003-01-09','Brookline','Massachusetts','02445'),
('James','White',25,'brown','2000-08-05','Newton','Massachusetts','02458'),
('Linda','Green',26,'brown','1999-02-17','Boston','Massachusetts','02108'),
('William','Scott',23,'gray','2002-05-23','Brookline','Massachusetts','02445'),
('Olivia','Adams',22,'gray','2003-03-14','Lowell','Massachusetts','01850'),
('Dmitry','Virgin',22,'red','2003-03-09','Newton','Massachusetts','02458'),
('William','Davis',30,'red','1995-10-22','Newton','Massachusetts','02458'),
('Robert','Wilson',27,'gray','1998-05-04','Lowell','Massachusetts','01850'),
('Sarah','Green',24,'red','2001-12-25','Worcester','Massachusetts','01609'),
('James','Davis',22,'gray','2003-06-14','Newton','Massachusetts','02458'),
('David','Davis',24,'red','2001-11-04','Boston','Massachusetts','02108'),
('Sophia','Baker',25,'red','2000-11-01','Quincy','Massachusetts','02169'),
('William','Smith',27,'brown','1998-11-02','Springfield','Massachusetts','01103'),
('Emily','White',22,'brown','2003-02-08','Cambridge','Massachusetts','02139'),
('Dmitry','King',25,'black','2000-06-07','Brookline','Massachusetts','02445'),
('Emily','Scott',24,'blonde','2001-04-06','Boston','Massachusetts','02108'),
('Jessica','Black',23,'red','2002-09-15','Lowell','Massachusetts','01850'),
('William','Baker',27,'brown','1998-08-18','Newton','Massachusetts','02458'),
('Dmitry','Miller',30,'red','1995-07-10','Worcester','Massachusetts','01609'),
('Charles','Hill',26,'blonde','1999-09-18','Newton','Massachusetts','02458'),
('James','Hill',23,'gray','2002-05-14','Newton','Massachusetts','02458'),
('Dick','Miller',23,'gray','2002-12-14','Brookline','Massachusetts','02445');

-- Данные для New Hampshire
INSERT INTO people_newhampshire (first_name, last_name, age, hair_color, address_city, address_state, address_zip) VALUES
('Lily','Martinez',22,'brown','Manchester','New Hampshire','03101'),
('Owen','Harris',30,'black','Nashua','New Hampshire','03060'),
('Chloe','Clark',25,'blonde','Concord','New Hampshire','03301'),
('Ryan','Lewis',28,'red','Dover','New Hampshire','03820'),
('Zoe','Walker',27,'brown','Rochester','New Hampshire','03867'),
('Leo','Hall',29,'black','Keene','New Hampshire','03431'),
('Avery','Allen',31,'blonde','Portsmouth','New Hampshire','03801'),
('Eli','Young',24,'red','Laconia','New Hampshire','03246'),
('Aria','Scott',26,'brown','Claremont','New Hampshire','03743'),
('Julian','King',32,'black','Lebanon','New Hampshire','03766');

-- Данные для Rhode Island
INSERT INTO people_rhodeisland (first_name, last_name, age, hair_color, address_city, address_state, address_zip) VALUES
('Nora','Davis',23,'red','Providence','Rhode Island','02903'),
('Lucas','Johnson',28,'black','Warwick','Rhode Island','02886'),
('Hazel','Smith',25,'brown','Cranston','Rhode Island','02920'),
('Ethan','Martinez',30,'blonde','Pawtucket','Rhode Island','02860'),
('Violet','Taylor',27,'red','East Providence','Rhode Island','02914'),
('Sebastian','Anderson',29,'black','Cumberland','Rhode Island','02864'),
('Luna','Thomas',24,'blonde','Newport','Rhode Island','02840'),
('Jackson','Moore',31,'brown','Woonsocket','Rhode Island','02895'),
('Aurora','Lewis',26,'red','Middletown','Rhode Island','02842'),
('Maverick','Walker',32,'black','Bristol','Rhode Island','02809');

-- Данные для Vermont
INSERT INTO people_vermont (first_name, last_name, age, hair_color, address_city, address_state, address_zip) VALUES
('Scarlett','Brown',25,'brown','Burlington','Vermont','05401'),
('Leo','Davis',28,'black','South Burlington','Vermont','05403'),
('Layla','Smith',27,'blonde','Rutland','Vermont','05701'),
('Julian','Wilson',24,'red','Montpelier','Vermont','05602'),
('Mila','Taylor',30,'brown','Barre','Vermont','05641'),
('Ethan','Moore',29,'black','St. Albans','Vermont','05478'),
('Chloe','Anderson',26,'blonde','Middlebury','Vermont','05753'),
('Henry','Thomas',31,'red','Essex Junction','Vermont','05452'),
('Isla','Martinez',23,'brown','Burlington','Vermont','05401'),
('Oliver','Harris',32,'black','Vergennes','Vermont','05491');

 * mysql://root:***@localhost/NewEngland
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
11 rows affected.
11 rows affected.
10 rows affected.
10 rows affected.
200 rows affected.
10 rows affected.
10 rows affected.
10 rows affected.

[]

Если мы используем запрос «SHOW TABLES in NewEngland;», то получим таблицы для каждого штата Новой Англии:

people_connecticut, people_maine, people_massachusetts, people_newhampshire, people_rhodeisland и people_vermont.

In [5]:
%%sql
SHOW TABLES in NewEngland;

 * mysql://root:***@localhost/NewEngland
8 rows affected.

[('birthdate_massachusetts',),
 ('haircolor_massachusetts',),
 ('people_connecticut',),
 ('people_maine',),
 ('people_massachusetts',),
 ('people_newhampshire',),
 ('people_rhodeisland',),
 ('people_vermont',)]

Наконец, вам нужно выяснить, какие поля есть в таблицах. Поля — это отдельные фрагменты данных, которые можно извлечь из базы данных.

Например, если вы хотите получить чей-то адрес, имя поля может быть не просто «address», а состоять из address_city, address_state, address_zip. Чтобы это выяснить, используйте запрос «Describe people_massachusetts;».

In [6]:
%%sql
Describe people_massachusetts;

 * mysql://root:***@localhost/NewEngland
9 rows affected.

[('id', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('first_name', 'varchar(50)', 'YES', '', None, ''),
 ('last_name', 'varchar(50)', 'YES', '', None, ''),
 ('age', 'int', 'YES', '', None, ''),
 ('hair_color', 'varchar(20)', 'YES', '', None, ''),
 ('birth_date', 'date', 'YES', '', None, ''),
 ('address_city', 'varchar(100)', 'YES', '', None, ''),
 ('address_state', 'varchar(50)', 'YES', '', None, ''),
 ('address_zip', 'varchar(10)', 'YES', '', None, '')]

Здесь представлен список всех данных, которые можно получить с помощью SQL.

Давайте кратко рассмотрим иерархию на примере Новой Англии:

Наша база данных — Новая Англия.
Наши таблицы в этой базе данных называются people_connecticut, people_maine, people_massachusetts, people_newhampshire, people_rhodeisland и people_vermont.
Наши поля в таблице people_massachusetts включают: address_city, address_state, address_zip, hair_color, age, first_name и last_name.
Теперь давайте напишем несколько простых SQL-запросов для извлечения данных из нашей базы данных NewEngland.

Как писать SQL-запросы
Прежде чем мы начнём, убедитесь, что у вас есть приложение для управления базами данных, позволяющее извлекать данные из вашей базы данных. Среди возможных вариантов — MySQL или Sequel Pro.

Для начала скачайте один из этих вариантов, а затем обсудите с ИТ-отделом вашей компании, как подключиться к базе данных. Выбор варианта будет зависеть от серверной части вашего продукта, поэтому проконсультируйтесь с командой разработчиков, чтобы выбрать правильный вариант.

Чтобы научиться писать SQL-запросы, давайте рассмотрим следующий вопрос:

Кто эти рыжеволосые люди из Массачусетса, родившиеся в 2003 году?

## <a id='toc1_7_'></a>[Использование команды SELECT](#toc0_)
SELECT выбирает поля, которые должны отображаться на диаграмме. Это конкретная информация, которую вы хотите получить из базы данных. В приведенном выше примере мы хотим найти людей, которые соответствуют остальным критериям.

## <a id='toc1_8_'></a>[Используя команду FROM](#toc0_)
FROM, вы точно определяете таблицу, из которой вы хотите извлечь данные.

В предыдущем разделе мы узнали, что для каждого из шести штатов Новой Англии существует шесть таблиц: people_connecticut, people_maine, people_massachusetts, people_newhampshire, people_rhodeisland и people_vermont.

Поскольку мы ищем людей конкретно в Массачусетсе, мы будем извлекать данные из этой конкретной таблицы.

Вот наш SQL-запрос:

In [7]:
%%sql

SELECT first_name,
       last_name
FROM people_massachusetts;

 * mysql://root:***@localhost/NewEngland
200 rows affected.

[('Dmitry', 'Miller'),
 ('Olivia', 'Miller'),
 ('James', 'Hill'),
 ('Mikhail', 'Martinez'),
 ('Thomas', 'Green'),
 ('Sarah', 'Pick'),
 ('Robert', 'Black'),
 ('Michael', 'Pick'),
 ('Michael', 'Shivtsov'),
 ('Vladislav', 'Green'),
 ('Michael', 'White'),
 ('James', 'Wilson'),
 ('Elizabeth', 'Martinez'),
 ('Olivia', 'Johnson'),
 ('Michael', 'King'),
 ('William', 'Black'),
 ('Mikhail', 'King'),
 ('Anna', 'Pick'),
 ('James', 'Black'),
 ('James', 'Virgin'),
 ('Robert', 'Brown'),
 ('James', 'Virgin'),
 ('Thomas', 'Shivtsov'),
 ('Robert', 'Green'),
 ('Charles', 'Johnson'),
 ('Thomas', 'Davis'),
 ('Olivia', 'Pick'),
 ('Sophia', 'Pick'),
 ('David', 'Smith'),
 ('Dick', 'Shivtsov'),
 ('Mikhail', 'Brown'),
 ('Anna', 'Martinez'),
 ('Linda', 'Davis'),
 ('Sarah', 'Hill'),
 ('Sophia', 'Baker'),
 ('Anna', 'Hill'),
 ('Extra', 'Scott'),
 ('Michael', 'Anderson'),
 ('Charles', 'Brown'),
 ('John', 'Scott'),
 ('James', 'Shivtsov'),
 ('James', 'Scott'),
 ('Vladislav', 'Virgin'),
 ('Charles', 'Wilson'),
 ('William', 'King'),
 ('Linda', 'Wilson'),
 ('Michael', 'Smith'),
 ('Robert', 'Miller'),
 ('Vladislav', 'Davis'),
 ('Elizabeth', 'Miller'),
 ('Jessica', 'Pick'),
 ('Emily', 'Scott'),
 ('Extra', 'Miller'),
 ('Emily', 'Smith'),
 ('Michael', 'Green'),
 ('Dmitry', 'Davis'),
 ('William', 'Anderson'),
 ('Emily', 'King'),
 ('Elizabeth', 'Hill'),
 ('Jessica', 'Pick'),
 ('John', 'Green'),
 ('James', 'Hill'),
 ('Robert', 'Martinez'),
 ('Mikhail', 'Adams'),
 ('Olivia', 'Anderson'),
 ('Extra', 'Shivtsov'),
 ('Michael', 'King'),
 ('David', 'Brown'),
 ('Mikhail', 'Scott'),
 ('Thomas', 'Virgin'),
 ('John', 'Davis'),
 ('Jessica', 'White'),
 ('John', 'Green'),
 ('Elizabeth', 'King'),
 ('Sophia', 'Hill'),
 ('Sophia', 'King'),
 ('Sophia', 'Davis'),
 ('Extra', 'Green'),
 ('Jessica', 'Hill'),
 ('Robert', 'White'),
 ('James', 'Davis'),
 ('Anna', 'Smith'),
 ('Dick', 'Johnson'),
 ('James', 'Johnson'),
 ('Anna', 'King'),
 ('John', 'Adams'),
 ('Dmitry', 'Brown'),
 ('Vladislav', 'Johnson'),
 ('Sophia', 'Smith'),
 ('Jessica', 'Davis'),
 ('Michael', 'King'),
 ('Jessica', 'Green'),
 ('Linda', 'Hill'),
 ('Anna', 'Johnson'),
 ('Sophia', 'Anderson'),
 ('Linda', 'Brown'),
 ('Michael', 'Hill'),
 ('Extra', 'Wilson'),
 ('Michael', 'Martinez'),
 ('Linda', 'Baker'),
 ('Sarah', 'Smith'),
 ('Olivia', 'Pick'),
 ('Vladislav', 'Smith'),
 ('Sarah', 'Miller'),
 ('John', 'Wilson'),
 ('Jessica', 'Shivtsov'),
 ('Thomas', 'Pick'),
 ('Linda', 'Brown'),
 ('Linda', 'Virgin'),
 ('Vladislav', 'Davis'),
 ('Extra', 'Davis'),
 ('John', 'Shivtsov'),
 ('Sophia', 'Adams'),
 ('Elizabeth', 'Anderson'),
 ('David', 'Pick'),
 ('Sarah', 'Wilson'),
 ('Emily', 'King'),
 ('William', 'Martinez'),
 ('Elizabeth', 'Miller'),
 ('Robert', 'Anderson'),
 ('Sarah', 'Green'),
 ('Sophia', 'Davis'),
 ('Vladislav', 'Virgin'),
 ('Linda', 'Shivtsov'),
 ('Elizabeth', 'Baker'),
 ('William', 'Hill'),
 ('Dick', 'Brown'),
 ('Dick', 'Virgin'),
 ('Vladislav', 'Black'),
 ('Emily', 'Anderson'),
 ('Sarah', 'Davis'),
 ('John', 'White'),
 ('John', 'King'),
 ('John', 'Johnson'),
 ('David', 'Virgin'),
 ('John', 'Davis'),
 ('Thomas', 'Davis'),
 ('John', 'Johnson'),
 ('Elizabeth', 'Pick'),
 ('Emily', 'Johnson'),
 ('Jessica', 'Black'),
 ('Emily', 'Virgin'),
 ('James', 'Hill'),
 ('Olivia', 'King'),
 ('Jessica', 'Miller'),
 ('Robert', 'Adams'),
 ('Dmitry', 'Black'),
 ('Thomas', 'Virgin'),
 ('John', 'Brown'),
 ('Thomas', 'Adams'),
 ('Thomas', 'Davis'),
 ('Robert', 'Davis'),
 ('William', 'Anderson'),
 ('Anna', 'Johnson'),
 ('Jessica', 'Anderson'),
 ('Michael', 'Smith'),
 ('Extra', 'Adams'),
 ('Sophia', 'White'),
 ('Elizabeth', 'Smith'),
 ('Robert', 'Davis'),
 ('Jessica', 'Shivtsov'),
 ('Robert', 'Hill'),
 ('Extra', 'Virgin'),
 ('Sophia', 'Johnson'),
 ('Charles', 'Anderson'),
 ('Sophia', 'King'),
 ('Olivia', 'Adams'),
 ('John', 'Adams'),
 ('Vladislav', 'Black'),
 ('Mikhail', 'Davis'),
 ('Linda', 'Martinez'),
 ('Jessica', 'Hill'),
 ('Robert', 'White'),
 ('Sarah', 'Adams'),
 ('Emily', 'Baker'),
 ('Dmitry', 'Wilson'),
 ('Mikhail', 'White'),
 ('William', 'Anderson'),
 ('Jessica', 'Miller'),
 ('James', 'White'),
 ('Linda', 'Green'),
 ('William', 'Scott'),
 ('Olivia', 'Adams'),
 ('Dmitry', 'Virgin'),
 ('William', 'Davis'),
 ('Robert', 'Wilson'),
 ('Sarah', 'Green'),
 ('James', 'Davis'),
 ('David', 'Davis'),
 ('Sophia', 'Baker'),
 ('William', 'Smith'),
 ('Emily', 'White'),
 ('Dmitry', 'King'),
 ('Emily', 'Scott'),
 ('Jessica', 'Black'),
 ('William', 'Baker'),
 ('Dmitry', 'Miller'),
 ('Charles', 'Hill'),
 ('James', 'Hill'),
 ('Dick', 'Miller')]

## <a id='toc1_9_'></a>[Команда WHERE](#toc0_)
WHERE позволяет отфильтровать запрос, чтобы он был более конкретным. В нашем примере мы хотим отфильтровать наш запрос так, чтобы он включал только людей с рыжими волосами, родившихся в 2003 году. Давайте начнем с фильтра рыжих волос.

In [8]:
%%sql

SELECT first_name,
       last_name
FROM people_massachusetts
WHERE hair_color = 'red';

 * mysql://root:***@localhost/NewEngland
32 rows affected.

[('Sarah', 'Pick'),
 ('Michael', 'Pick'),
 ('Michael', 'White'),
 ('James', 'Wilson'),
 ('Anna', 'Pick'),
 ('Mikhail', 'Brown'),
 ('Anna', 'Hill'),
 ('John', 'Scott'),
 ('James', 'Shivtsov'),
 ('Emily', 'Smith'),
 ('Dmitry', 'Davis'),
 ('Jessica', 'Pick'),
 ('John', 'Davis'),
 ('Sophia', 'Hill'),
 ('Sophia', 'Davis'),
 ('Sarah', 'Miller'),
 ('Dick', 'Virgin'),
 ('Emily', 'Anderson'),
 ('Jessica', 'Black'),
 ('Dmitry', 'Black'),
 ('Thomas', 'Davis'),
 ('Extra', 'Adams'),
 ('Sophia', 'King'),
 ('Mikhail', 'White'),
 ('William', 'Anderson'),
 ('Dmitry', 'Virgin'),
 ('William', 'Davis'),
 ('Sarah', 'Green'),
 ('David', 'Davis'),
 ('Sophia', 'Baker'),
 ('Jessica', 'Black'),
 ('Dmitry', 'Miller')]

параметр hair_color мог бы быть частью вашей первоначальной инструкции SELECT, если бы вы хотели просмотреть всех жителей Массачусетса и их цвет волос. Но если вы хотите отфильтровать, чтобы увидеть только людей с рыжими волосами, вы можете сделать это с помощью инструкции WHERE.

## <a id='toc1_10_'></a>[Используя команду BETWEEN](#toc0_)
Помимо equals (=), BETWEEN - это еще один оператор, который можно использовать для условных запросов. Оператор BETWEEN имеет значение true для значений, которые находятся между указанными минимальными и максимальными значениями.

В нашем случае мы можем использовать BETWEEN для извлечения записей за определенный год, например, за 2003.

In [9]:
%%sql

SELECT first_name,
       last_name
FROM people_massachusetts
WHERE birth_date BETWEEN '2003-01-01' AND '2003-12-31';

 * mysql://root:***@localhost/NewEngland
28 rows affected.

[('Dmitry', 'Miller'),
 ('Elizabeth', 'Martinez'),
 ('Thomas', 'Davis'),
 ('David', 'Smith'),
 ('William', 'King'),
 ('Michael', 'Smith'),
 ('William', 'Anderson'),
 ('Emily', 'King'),
 ('Thomas', 'Virgin'),
 ('John', 'Davis'),
 ('Sophia', 'Davis'),
 ('James', 'Johnson'),
 ('Vladislav', 'Johnson'),
 ('Jessica', 'Green'),
 ('Linda', 'Hill'),
 ('Michael', 'Hill'),
 ('John', 'Shivtsov'),
 ('Emily', 'King'),
 ('Robert', 'Anderson'),
 ('Elizabeth', 'Baker'),
 ('David', 'Virgin'),
 ('Elizabeth', 'Pick'),
 ('Sophia', 'Johnson'),
 ('Jessica', 'Miller'),
 ('Olivia', 'Adams'),
 ('Dmitry', 'Virgin'),
 ('James', 'Davis'),
 ('Emily', 'White')]

## <a id='toc1_11_'></a>[С помощью команды AND](#toc0_)
AND вы можете добавить дополнительные критерии в свой запрос WHERE. Помните, что мы хотим выполнить фильтрацию по людям с рыжими волосами, а не по людям, родившимся в 2003 году. Поскольку наш оператор WHERE учитывает критерии рыжих волос, как мы можем выполнить фильтрацию по конкретному году рождения?

Вот где используется оператор AND. В данном случае оператор AND является свойством даты, но это не обязательно должно быть так. (Примечание: Уточните формат ваших дат у вашей команды разработчиков, чтобы убедиться в их правильности.)

In [10]:
%%sql

SELECT first_name,
       last_name
FROM people_massachusetts
WHERE hair_color = 'red'
  AND birth_date BETWEEN '2003-01-01' AND '2003-12-31';

 * mysql://root:***@localhost/NewEngland
3 rows affected.

[('John', 'Davis'), ('Sophia', 'Davis'), ('Dmitry', 'Virgin')]

## <a id='toc1_12_'></a>[С помощью команды OR](#toc0_)
OR также можно использовать с оператором WHERE. При использовании AND оба условия должны быть выполнены, чтобы они отображались в результатах (например, цвет волос должен быть рыжим и человек должен быть 2003 года рождения). При использовании OR в результатах поиска должно выполняться любое из условий (например, цвет волос должен быть рыжим или человек должен быть 2003 года рождения).

Вот как выглядит оператор OR в действии.

In [11]:
%%sql

SELECT first_name,
       last_name
FROM people_massachusetts
WHERE hair_color = 'red'
   OR birth_date BETWEEN '2003-01-01' AND '2003-12-31';

 * mysql://root:***@localhost/NewEngland
57 rows affected.

[('Dmitry', 'Miller'),
 ('Sarah', 'Pick'),
 ('Michael', 'Pick'),
 ('Michael', 'White'),
 ('James', 'Wilson'),
 ('Elizabeth', 'Martinez'),
 ('Anna', 'Pick'),
 ('Thomas', 'Davis'),
 ('David', 'Smith'),
 ('Mikhail', 'Brown'),
 ('Anna', 'Hill'),
 ('John', 'Scott'),
 ('James', 'Shivtsov'),
 ('William', 'King'),
 ('Michael', 'Smith'),
 ('Emily', 'Smith'),
 ('Dmitry', 'Davis'),
 ('William', 'Anderson'),
 ('Emily', 'King'),
 ('Jessica', 'Pick'),
 ('Thomas', 'Virgin'),
 ('John', 'Davis'),
 ('Sophia', 'Hill'),
 ('Sophia', 'Davis'),
 ('James', 'Johnson'),
 ('Vladislav', 'Johnson'),
 ('Jessica', 'Green'),
 ('Linda', 'Hill'),
 ('Michael', 'Hill'),
 ('Sarah', 'Miller'),
 ('John', 'Shivtsov'),
 ('Emily', 'King'),
 ('Robert', 'Anderson'),
 ('Elizabeth', 'Baker'),
 ('Dick', 'Virgin'),
 ('Emily', 'Anderson'),
 ('David', 'Virgin'),
 ('Elizabeth', 'Pick'),
 ('Jessica', 'Black'),
 ('Dmitry', 'Black'),
 ('Thomas', 'Davis'),
 ('Extra', 'Adams'),
 ('Sophia', 'Johnson'),
 ('Sophia', 'King'),
 ('Mikhail', 'White'),
 ('William', 'Anderson'),
 ('Jessica', 'Miller'),
 ('Olivia', 'Adams'),
 ('Dmitry', 'Virgin'),
 ('William', 'Davis'),
 ('Sarah', 'Green'),
 ('James', 'Davis'),
 ('David', 'Davis'),
 ('Sophia', 'Baker'),
 ('Emily', 'White'),
 ('Jessica', 'Black'),
 ('Dmitry', 'Miller')]

## <a id='toc1_13_'></a>[С помощью команды NOT](#toc0_)
NOT используется в операторе WHERE для отображения значений, в которых указанное условие не соответствует действительности. Если бы мы хотели найти всех жителей Массачусетса, у которых нет рыжих волос, мы могли бы использовать следующий запрос.

In [12]:
%%sql

SELECT first_name,
       last_name
FROM people_massachusetts
WHERE NOT hair_color = 'red' ;

 * mysql://root:***@localhost/NewEngland
168 rows affected.

[('Dmitry', 'Miller'),
 ('Olivia', 'Miller'),
 ('James', 'Hill'),
 ('Mikhail', 'Martinez'),
 ('Thomas', 'Green'),
 ('Robert', 'Black'),
 ('Michael', 'Shivtsov'),
 ('Vladislav', 'Green'),
 ('Elizabeth', 'Martinez'),
 ('Olivia', 'Johnson'),
 ('Michael', 'King'),
 ('William', 'Black'),
 ('Mikhail', 'King'),
 ('James', 'Black'),
 ('James', 'Virgin'),
 ('Robert', 'Brown'),
 ('James', 'Virgin'),
 ('Thomas', 'Shivtsov'),
 ('Robert', 'Green'),
 ('Charles', 'Johnson'),
 ('Thomas', 'Davis'),
 ('Olivia', 'Pick'),
 ('Sophia', 'Pick'),
 ('David', 'Smith'),
 ('Dick', 'Shivtsov'),
 ('Anna', 'Martinez'),
 ('Linda', 'Davis'),
 ('Sarah', 'Hill'),
 ('Sophia', 'Baker'),
 ('Extra', 'Scott'),
 ('Michael', 'Anderson'),
 ('Charles', 'Brown'),
 ('James', 'Scott'),
 ('Vladislav', 'Virgin'),
 ('Charles', 'Wilson'),
 ('William', 'King'),
 ('Linda', 'Wilson'),
 ('Michael', 'Smith'),
 ('Robert', 'Miller'),
 ('Vladislav', 'Davis'),
 ('Elizabeth', 'Miller'),
 ('Jessica', 'Pick'),
 ('Emily', 'Scott'),
 ('Extra', 'Miller'),
 ('Michael', 'Green'),
 ('William', 'Anderson'),
 ('Emily', 'King'),
 ('Elizabeth', 'Hill'),
 ('John', 'Green'),
 ('James', 'Hill'),
 ('Robert', 'Martinez'),
 ('Mikhail', 'Adams'),
 ('Olivia', 'Anderson'),
 ('Extra', 'Shivtsov'),
 ('Michael', 'King'),
 ('David', 'Brown'),
 ('Mikhail', 'Scott'),
 ('Thomas', 'Virgin'),
 ('Jessica', 'White'),
 ('John', 'Green'),
 ('Elizabeth', 'King'),
 ('Sophia', 'King'),
 ('Extra', 'Green'),
 ('Jessica', 'Hill'),
 ('Robert', 'White'),
 ('James', 'Davis'),
 ('Anna', 'Smith'),
 ('Dick', 'Johnson'),
 ('James', 'Johnson'),
 ('Anna', 'King'),
 ('John', 'Adams'),
 ('Dmitry', 'Brown'),
 ('Vladislav', 'Johnson'),
 ('Sophia', 'Smith'),
 ('Jessica', 'Davis'),
 ('Michael', 'King'),
 ('Jessica', 'Green'),
 ('Linda', 'Hill'),
 ('Anna', 'Johnson'),
 ('Sophia', 'Anderson'),
 ('Linda', 'Brown'),
 ('Michael', 'Hill'),
 ('Extra', 'Wilson'),
 ('Michael', 'Martinez'),
 ('Linda', 'Baker'),
 ('Sarah', 'Smith'),
 ('Olivia', 'Pick'),
 ('Vladislav', 'Smith'),
 ('John', 'Wilson'),
 ('Jessica', 'Shivtsov'),
 ('Thomas', 'Pick'),
 ('Linda', 'Brown'),
 ('Linda', 'Virgin'),
 ('Vladislav', 'Davis'),
 ('Extra', 'Davis'),
 ('John', 'Shivtsov'),
 ('Sophia', 'Adams'),
 ('Elizabeth', 'Anderson'),
 ('David', 'Pick'),
 ('Sarah', 'Wilson'),
 ('Emily', 'King'),
 ('William', 'Martinez'),
 ('Elizabeth', 'Miller'),
 ('Robert', 'Anderson'),
 ('Sarah', 'Green'),
 ('Sophia', 'Davis'),
 ('Vladislav', 'Virgin'),
 ('Linda', 'Shivtsov'),
 ('Elizabeth', 'Baker'),
 ('William', 'Hill'),
 ('Dick', 'Brown'),
 ('Vladislav', 'Black'),
 ('Sarah', 'Davis'),
 ('John', 'White'),
 ('John', 'King'),
 ('John', 'Johnson'),
 ('David', 'Virgin'),
 ('John', 'Davis'),
 ('Thomas', 'Davis'),
 ('John', 'Johnson'),
 ('Elizabeth', 'Pick'),
 ('Emily', 'Johnson'),
 ('Emily', 'Virgin'),
 ('James', 'Hill'),
 ('Olivia', 'King'),
 ('Jessica', 'Miller'),
 ('Robert', 'Adams'),
 ('Thomas', 'Virgin'),
 ('John', 'Brown'),
 ('Thomas', 'Adams'),
 ('Robert', 'Davis'),
 ('William', 'Anderson'),
 ('Anna', 'Johnson'),
 ('Jessica', 'Anderson'),
 ('Michael', 'Smith'),
 ('Sophia', 'White'),
 ('Elizabeth', 'Smith'),
 ('Robert', 'Davis'),
 ('Jessica', 'Shivtsov'),
 ('Robert', 'Hill'),
 ('Extra', 'Virgin'),
 ('Sophia', 'Johnson'),
 ('Charles', 'Anderson'),
 ('Olivia', 'Adams'),
 ('John', 'Adams'),
 ('Vladislav', 'Black'),
 ('Mikhail', 'Davis'),
 ('Linda', 'Martinez'),
 ('Jessica', 'Hill'),
 ('Robert', 'White'),
 ('Sarah', 'Adams'),
 ('Emily', 'Baker'),
 ('Dmitry', 'Wilson'),
 ('Jessica', 'Miller'),
 ('James', 'White'),
 ('Linda', 'Green'),
 ('William', 'Scott'),
 ('Olivia', 'Adams'),
 ('Robert', 'Wilson'),
 ('James', 'Davis'),
 ('William', 'Smith'),
 ('Emily', 'White'),
 ('Dmitry', 'King'),
 ('Emily', 'Scott'),
 ('William', 'Baker'),
 ('Charles', 'Hill'),
 ('James', 'Hill'),
 ('Dick', 'Miller')]

## <a id='toc1_14_'></a>[С помощью команды ORDER BY](#toc0_)
Вычисления и организация также могут быть выполнены в рамках запроса. Именно здесь используются функции ORDER BY и GROUP BY. Сначала мы рассмотрим наши SQL-запросы с функциями ORDER BY, а затем GROUP BY. Затем мы кратко рассмотрим разницу между ними.

Предложение ORDER BY позволяет выполнять сортировку по любому из полей, которые вы указали в инструкции SELECT. В данном случае давайте упорядочим по фамилии.

In [13]:
%%sql

SELECT first_name,
       last_name
FROM people_massachusetts
WHERE hair_color = 'red'
  AND birth_date BETWEEN '2003-01-01' AND '2003-12-31'
ORDER BY last_name;

 * mysql://root:***@localhost/NewEngland
3 rows affected.

[('John', 'Davis'), ('Sophia', 'Davis'), ('Dmitry', 'Virgin')]

## <a id='toc1_15_'></a>[Использование команды GROUP BY](#toc0_)
Функция GROUP BY аналогична функции ORDER BY, но объединяет похожие данные. Например, если в ваших данных есть дубликаты, вы можете использовать функцию GROUP BY для подсчета количества дубликатов в ваших полях.

In [14]:
%%sql

SELECT last_name
FROM people_massachusetts
WHERE hair_color = 'red'
  AND birth_date BETWEEN '2003-01-01' AND '2003-12-31'
GROUP BY last_name;

 * mysql://root:***@localhost/NewEngland
2 rows affected.

[('Davis',), ('Virgin',)]

## <a id='toc1_16_'></a>[ORDER BY VS. GROUP BY](#toc0_)
Чтобы показать разницу между операцией ORDER BY и операцией GROUP BY, давайте ненадолго отойдем от нашего примера с Массачусетсом и рассмотрим очень простой набор данных. Ниже приведен список из идентификационных номеров и имен четырех сотрудников.

<img src="assets/sqltutorialintroduction_0.webp" alt="SQL Tutorial" width="400">

Если бы мы использовали инструкцию ORDER BY в этом списке, имена сотрудников были бы отсортированы в алфавитном порядке. Результат выглядел бы следующим образом:

<img src="assets/sqltutorialintroduction_5.webp" alt="SQL Tutorial" width="400">

Если бы мы использовали вместо этого инструкцию GROUP BY, сотрудники были бы подсчитаны на основе количества раз, когда они появлялись в исходной таблице. Обратите внимание, что Питер появился в исходной таблице дважды, поэтому результат выглядел бы следующим образом:

<img src="assets/sqltutorialintroduction_4.webp" alt="SQL Tutorial" width="400">

Пока что вы согласны со мной? Итак, давайте вернемся к SQL-запросу, который мы создавали о рыжеволосых жителях Массачусетса, родившихся в 2003 году.

## <a id='toc1_17_'></a>[Использование функции ОГРАНИЧЕНИЯ](#toc0_)
Выполнение ваших запросов может занять много времени, в зависимости от объема данных, хранящихся в вашей базе данных. Это может привести к разочарованию, особенно если вы допустили ошибку в своем запросе и теперь вам нужно подождать, прежде чем продолжить. Если вы хотите протестировать запрос, функция LIMIT позволяет ограничить количество получаемых результатов.

Например, если мы подозреваем, что в Массачусетсе у тысяч людей рыжие волосы, мы можем захотеть протестировать наш запрос с использованием LIMIT, прежде чем запускать его полностью, чтобы убедиться, что мы получаем нужную информацию. Допустим, например, мы хотим видеть в нашем результате только первые 100 человек.

In [15]:
%%sql

SELECT first_name,
       last_name
FROM people_massachusetts
WHERE hair_color = 'red'
  AND birth_date BETWEEN '2003-01-01' AND '2003-12-31'
ORDER BY last_name
LIMIT 100;

 * mysql://root:***@localhost/NewEngland
3 rows affected.

[('John', 'Davis'), ('Sophia', 'Davis'), ('Dmitry', 'Virgin')]

## <a id='toc1_18_'></a>[С помощью команды INSERT INTO](#toc0_)
Помимо извлечения информации из реляционной базы данных, SQL также можно использовать для изменения содержимого базы данных.

Разумеется, для изменения данных вашей компании вам потребуется разрешение. Но на случай, если вам когда-нибудь придется управлять содержимым базы данных, мы поделимся некоторыми запросами, которые вам следует знать.

Во-первых, это инструкция INSERT INTO для ввода новых значений в вашу базу данных.

Если мы хотим добавить нового пользователя в таблицу Massachusetts, мы можем сделать это, сначала указав название таблицы, которую мы хотим изменить, и поля в таблице, которые мы хотим добавить.

Затем мы записываем значение для каждого соответствующего значения, которое мы хотим добавить.

In [16]:
%%sql

INSERT INTO people_massachusetts (address_city, address_state, address_zip, hair_color, age, first_name, last_name)
VALUES ('Cambridge', 'Massachusetts', '02139', 'blonde', 32, 'Jane', 'Doe');

 * mysql://root:***@localhost/NewEngland
1 rows affected.

[]

В качестве альтернативы, если вы добавляете значение в каждое поле таблицы, вам не нужно указывать поля. Значения будут добавлены в столбцы в том порядке, в котором они указаны в запросе.

In [17]:
%%sql

INSERT INTO people_massachusetts VALUES
(999, 'Jane', 'Doe', 32, 'blonde', '1989-09-21', 'Cambridge', 'Massachusetts', '02139');

 * mysql://root:***@localhost/NewEngland
1 rows affected.

[]

Если вы хотите добавить значения только в определенные поля, вы должны указать эти поля. Допустим, мы хотим вставить запись только с именем, фамилией и адресом_state — мы можем использовать следующий запрос.

In [18]:
%%sql

INSERT INTO people_massachusetts (first_name, last_name, address_state)
VALUES ('Jane', 'Doe', 'Massachusetts');

 * mysql://root:***@localhost/NewEngland
1 rows affected.

[]

## <a id='toc1_19_'></a>[Используя команду UPDATE](#toc0_)
Вы можете использовать UPDATE, если хотите заменить существующие значения в вашей базе данных на другие. Что делать, если, например, у кого-то в базе данных записаны рыжие волосы, хотя на самом деле у него каштановые волосы? Мы можем обновить эту запись с помощью инструкций UPDATE и WHERE.

In [19]:
%%sql

UPDATE people_massachusetts
SET hair_color = 'brown'
WHERE first_name = 'Jane'
  AND last_name = 'Doe';

 * mysql://root:***@localhost/NewEngland
3 rows affected.

[]

Или, скажем, в вашей таблице возникла проблема, из-за которой некоторые значения “address_state” отображаются как “Massachusetts”, а другие - как “MA”. Чтобы изменить все значения “MA” на “Massachusetts”, мы можем использовать простой запрос и обновить несколько записей одновременно.

In [20]:
%%sql

UPDATE people_massachusetts
SET address_state = 'Massachusetts'
WHERE address_state = 'MA';

 * mysql://root:***@localhost/NewEngland
0 rows affected.

[]

Будьте осторожны при использовании UPDATE. Если вы не укажете, какие записи следует изменить с помощью инструкции WHERE, вы измените все значения в таблице.

## <a id='toc1_20_'></a>[Используя команду DELETE](#toc0_)
УДАЛИТЬ, вы удалите записи из вашей таблицы. Как и в случае с UPDATE, обязательно укажите оператор WHERE, чтобы случайно не удалить всю таблицу целиком.

Или, если нам посчастливилось найти в нашей таблице people_massachusetts несколько записей, которые на самом деле проживали в штате Мэн, мы можем быстро удалить эти записи, указав на поле address_state.

In [21]:
%%sql

DELETE
FROM people_massachusetts
WHERE address_state = 'maine';

 * mysql://root:***@localhost/NewEngland
0 rows affected.

[]

## <a id='toc1_21_'></a>[Бонус: Дополнительные советы по SQL](#toc0_)
Теперь, когда вы научились создавать простые SQL-запросы, давайте обсудим некоторые другие приемы, которые вы можете использовать, чтобы повысить качество своих запросов, начиная со звездочки.

\* (asterisk)
Когда вы добавляете символ звездочки в свой SQL-запрос, он сообщает ему, что вы хотите включить все столбцы данных в свои результаты.

В примере с Массачусетсом, который мы использовали, у нас было только два имени столбцов: first_name и last_name. Но давайте предположим, что у нас есть 15 столбцов данных, которые мы хотим видеть в наших результатах — было бы непросто ввести все 15 имен столбцов в инструкции SELECT. Вместо этого, если вы замените названия этих столбцов звездочкой, запрос будет знать, как включить все столбцы в результаты.

Вот как будет выглядеть SQL-запрос.

In [22]:
%%sql

SELECT *
FROM people_massachusetts
WHERE hair_color = 'red'
  AND birth_date BETWEEN '2003-01-01' AND '2003-12-31'
ORDER BY last_name
LIMIT 100;

 * mysql://root:***@localhost/NewEngland
3 rows affected.

[(71, 'John', 'Davis', 22, 'red', datetime.date(2003, 12, 6), 'Quincy', 'Massachusetts', '02169'),
 (77, 'Sophia', 'Davis', 22, 'red', datetime.date(2003, 1, 23), 'Springfield', 'Massachusetts', '01103'),
 (184, 'Dmitry', 'Virgin', 22, 'red', datetime.date(2003, 3, 9), 'Newton', 'Massachusetts', '02458')]

% (символ процента)
Символ процента является подстановочным знаком, то есть он может представлять один или несколько символов в значении базы данных. Подстановочные знаки полезны для поиска записей, в которых используются общие символы. Обычно они используются с оператором LIKE для поиска закономерности в данных.

Например, если мы хотим получить имена всех людей в нашей таблице, чей почтовый индекс начинается с “02”, мы можем написать следующий запрос.

In [23]:
%%sql

SELECT first_name,
       last_name
FROM people_massachusetts
WHERE address_zip LIKE '02%';

 * mysql://root:***@localhost/NewEngland
125 rows affected.

[('Olivia', 'Miller'),
 ('James', 'Hill'),
 ('Mikhail', 'Martinez'),
 ('Thomas', 'Green'),
 ('Sarah', 'Pick'),
 ('James', 'Wilson'),
 ('Olivia', 'Johnson'),
 ('Michael', 'King'),
 ('William', 'Black'),
 ('Anna', 'Pick'),
 ('James', 'Black'),
 ('Robert', 'Brown'),
 ('Thomas', 'Shivtsov'),
 ('Thomas', 'Davis'),
 ('Olivia', 'Pick'),
 ('Sophia', 'Pick'),
 ('David', 'Smith'),
 ('Dick', 'Shivtsov'),
 ('Mikhail', 'Brown'),
 ('Linda', 'Davis'),
 ('Sarah', 'Hill'),
 ('Sophia', 'Baker'),
 ('Extra', 'Scott'),
 ('Michael', 'Anderson'),
 ('John', 'Scott'),
 ('James', 'Shivtsov'),
 ('James', 'Scott'),
 ('Vladislav', 'Virgin'),
 ('William', 'King'),
 ('Linda', 'Wilson'),
 ('Robert', 'Miller'),
 ('Vladislav', 'Davis'),
 ('Elizabeth', 'Miller'),
 ('Jessica', 'Pick'),
 ('Emily', 'Scott'),
 ('Extra', 'Miller'),
 ('Emily', 'Smith'),
 ('Michael', 'Green'),
 ('Dmitry', 'Davis'),
 ('Elizabeth', 'Hill'),
 ('Jessica', 'Pick'),
 ('John', 'Green'),
 ('James', 'Hill'),
 ('Robert', 'Martinez'),
 ('Mikhail', 'Adams'),
 ('Extra', 'Shivtsov'),
 ('Michael', 'King'),
 ('Thomas', 'Virgin'),
 ('John', 'Davis'),
 ('Jessica', 'White'),
 ('John', 'Green'),
 ('Elizabeth', 'King'),
 ('Sophia', 'Hill'),
 ('Sophia', 'King'),
 ('Extra', 'Green'),
 ('James', 'Johnson'),
 ('Anna', 'King'),
 ('Sophia', 'Smith'),
 ('Jessica', 'Davis'),
 ('Michael', 'King'),
 ('Linda', 'Brown'),
 ('Extra', 'Wilson'),
 ('Michael', 'Martinez'),
 ('Olivia', 'Pick'),
 ('Vladislav', 'Smith'),
 ('Sarah', 'Miller'),
 ('John', 'Wilson'),
 ('Jessica', 'Shivtsov'),
 ('Thomas', 'Pick'),
 ('Linda', 'Brown'),
 ('Linda', 'Virgin'),
 ('Vladislav', 'Davis'),
 ('John', 'Shivtsov'),
 ('Elizabeth', 'Anderson'),
 ('David', 'Pick'),
 ('William', 'Martinez'),
 ('Robert', 'Anderson'),
 ('Sophia', 'Davis'),
 ('Vladislav', 'Virgin'),
 ('William', 'Hill'),
 ('Dick', 'Brown'),
 ('Vladislav', 'Black'),
 ('John', 'White'),
 ('John', 'Johnson'),
 ('David', 'Virgin'),
 ('Thomas', 'Davis'),
 ('Elizabeth', 'Pick'),
 ('Emily', 'Virgin'),
 ('Olivia', 'King'),
 ('Robert', 'Adams'),
 ('Dmitry', 'Black'),
 ('Thomas', 'Virgin'),
 ('Thomas', 'Adams'),
 ('Robert', 'Davis'),
 ('Anna', 'Johnson'),
 ('Jessica', 'Anderson'),
 ('Michael', 'Smith'),
 ('Elizabeth', 'Smith'),
 ('Robert', 'Davis'),
 ('Robert', 'Hill'),
 ('Sophia', 'Johnson'),
 ('Olivia', 'Adams'),
 ('Mikhail', 'Davis'),
 ('Sarah', 'Adams'),
 ('Emily', 'Baker'),
 ('Mikhail', 'White'),
 ('William', 'Anderson'),
 ('Jessica', 'Miller'),
 ('James', 'White'),
 ('Linda', 'Green'),
 ('William', 'Scott'),
 ('Dmitry', 'Virgin'),
 ('William', 'Davis'),
 ('James', 'Davis'),
 ('David', 'Davis'),
 ('Sophia', 'Baker'),
 ('Emily', 'White'),
 ('Dmitry', 'King'),
 ('Emily', 'Scott'),
 ('William', 'Baker'),
 ('Charles', 'Hill'),
 ('James', 'Hill'),
 ('Dick', 'Miller'),
 ('Jane', 'Doe'),
 ('Jane', 'Doe')]

Здесь “%” обозначает любую группу цифр, которые следуют за “02”, поэтому этот запрос выдает любую запись со значением для address_zip, которое начинается с “02”.

## <a id='toc1_22_'></a>[ЗА ПОСЛЕДНИЕ 30 ДНЕЙ](#toc0_)
Как только я начал регулярно использовать SQL, я обнаружил, что один из моих запросов к пользователям заключался в поиске того, какие люди совершали действия или удовлетворяли определенному набору критериев в течение последних 30 дней.

Давайте представим, что сегодня 1 декабря 2021 года. Вы могли бы создать эти параметры, указав дату рождения в интервале с 1 ноября 2021 года по 30 ноября 2021 года. Этот SQL-запрос будет выглядеть следующим образом:

In [24]:
%%sql

SELECT first_name,
       last_name
FROM people_massachusetts
WHERE hair_color = 'red'
  AND birth_date BETWEEN '2021-11-01' AND '2021-11-30'
ORDER BY last_name
LIMIT 100;

 * mysql://root:***@localhost/NewEngland
0 rows affected.

[]

Но для этого потребовалось бы учитывать, какие даты охватывают последние 30 дней, и вам пришлось бы постоянно обновлять этот запрос.

Вместо этого, чтобы даты автоматически охватывали последние 30 дней, независимо от того, какой это день, вы можете ввести это в поле И: birth_date >= (DATE_SUB(CURDATE(),ИНТЕРВАЛ 30))

(Примечание: Возможно, вам захочется еще раз проверить этот синтаксис у своей команды разработчиков, поскольку он может отличаться в зависимости от программного обеспечения, которое вы используете для обработки SQL-запросов.)

Таким образом, ваш полный SQL-запрос будет выглядеть следующим образом.

In [25]:
%%sql

SELECT first_name,
       last_name
FROM people_massachusetts
WHERE hair_color = 'red'
  AND birth_date >= DATE_SUB(CURDATE(), INTERVAL 30 DAY)
ORDER BY last_name
LIMIT 100;

 * mysql://root:***@localhost/NewEngland
0 rows affected.

[]

## <a id='toc1_23_'></a>[COUNT](#toc0_)
В некоторых случаях вам может потребоваться подсчитать, сколько раз появляется критерий поля. Например, предположим, вы хотите подсчитать, сколько раз разные цвета волос появлялись у людей из Массачусетса, которых вы оцениваете.

В этом случае пригодится функция подсчета, так что вам не придется вручную подсчитывать количество людей с разным цветом волос или экспортировать эту информацию в Excel.

Вот как будет выглядеть этот SQL-запрос:

In [26]:
%%sql

SELECT hair_color,
       COUNT(hair_color)
FROM people_massachusetts
WHERE birth_date BETWEEN '2003-01-01' AND '2003-12-31'
GROUP BY hair_color;

 * mysql://root:***@localhost/NewEngland
5 rows affected.

[('gray', 7), ('blonde', 6), ('brown', 7), ('black', 5), ('red', 3)]

## <a id='toc1_24_'></a>[AVG](#toc0_)
AVG вычисляет среднее значение атрибута в результатах вашего запроса, исключая значения NULL (пустое значение). В нашем примере мы могли бы использовать AVG для вычисления среднего возраста жителей Массачусетса в нашем запросе.

Вот как мог бы выглядеть наш SQL-запрос:

In [27]:
%%sql

SELECT AVG(age)
FROM people_massachusetts ;

 * mysql://root:***@localhost/NewEngland
1 rows affected.

[(Decimal('25.2624'),)]

## <a id='toc1_25_'></a>[SUM](#toc0_)
SUM - это еще одно простое вычисление, которое вы можете выполнить в SQL. Оно вычисляет общее значение всех атрибутов из вашего запроса. Итак, если бы мы захотели сложить все возрасты жителей Массачусетса, мы могли бы использовать следующий запрос.

In [28]:
%%sql

SELECT SUM(age)
FROM people_massachusetts ;

 * mysql://root:***@localhost/NewEngland
1 rows affected.

[(Decimal('5103'),)]

## <a id='toc1_26_'></a>[Использование MIN и MAX](#toc0_)
MIN и MAX - это две SQL-функции, которые выдают наименьшее и наибольшее значения для данного поля. Мы можем использовать их для определения самых старых и самых молодых членов нашей таблицы Massachusetts:

Следующий запрос предоставит нам данные о самых молодых людях.

In [29]:
%%sql

SELECT MIN(age)
FROM people_massachusetts;

 * mysql://root:***@localhost/NewEngland
1 rows affected.

[(22,)]

И этот запрос дает нам самый старый:

In [30]:
%%sql

SELECT MAX(age)
FROM people_massachusetts;

 * mysql://root:***@localhost/NewEngland
1 rows affected.

[(32,)]

## <a id='toc1_27_'></a>[С помощью команды JOIN](#toc0_)
Может возникнуть ситуация, когда вам потребуется получить доступ к информации из двух разных таблиц в одном SQL-запросе. В SQL для этого можно использовать предложение JOIN.

(Для тех, кто знаком с формулами Excel, это похоже на использование формулы ВПР, когда вам нужно объединить информацию из двух разных таблиц в Excel.)

Допустим, у нас есть одна таблица, в которой содержатся данные по идентификаторам пользователей и датам рождения всех жителей Массачусетса. Кроме того, у нас есть совершенно отдельная таблица, содержащая идентификаторы пользователей всех жителей Массачусетса и их цвет волос.

Если мы хотим определить цвет волос жителей Массачусетса, родившихся в 2003 году, нам нужно получить доступ к информации из обеих таблиц и объединить их. Это работает, потому что в обеих таблицах есть одинаковый столбец: идентификаторы пользователей.

Наша инструкция SELECT также немного изменится, поскольку мы будем вызывать поля из двух разных таблиц. Вместо простого перечисления полей, которые мы хотим включить в наши результаты, нам нужно будет указать, из какой таблицы они берутся.

(Примечание: Здесь может пригодиться функция asterisk, чтобы ваш запрос включал в результаты обе таблицы.)

Чтобы указать поле из конкретной таблицы, все, что нам нужно сделать, это объединить название таблицы с именем поля. Например, в нашей инструкции SELECT будет указано “таблица.поле” — с точкой, разделяющей названия таблицы и полей.

В этом случае мы также предполагаем несколько параметров:

1. Таблица даты рождения в Массачусетсе содержит следующие поля: first_name, last_name, user_id, дата рождения
2. Таблица цвета волос в Массачусетсе содержит следующие поля: user_id, hair_color

Ваш SQL-запрос будет выглядеть следующим образом.

In [31]:
%%sql

SELECT birthdate_massachusetts.first_name,
       birthdate_massachusetts.last_name
FROM birthdate_massachusetts
JOIN haircolor_massachusetts USING (user_id)
WHERE hair_color = 'red'
  AND birth_date BETWEEN '2003-01-01' AND '2003-12-31'
ORDER BY last_name;

 * mysql://root:***@localhost/NewEngland
4 rows affected.

[('Vladislav', 'Shivtsov'),
 ('Mikhail', 'Shivtsov'),
 ('Dmitry', 'Shivtsov'),
 ('John', 'Smith')]

Этот запрос объединил бы две таблицы, используя поле “user_id”, которое отображается как в таблице birthdate_massachusetts, так и в таблице haircolor_massachusetts. Затем вы можете просмотреть таблицу людей с рыжими волосами, родившихся в 2003 году.

## <a id='toc1_28_'></a>[Используя оператор CASE](#toc0_)
Используйте оператор CASE, если вы хотите вернуть разные результаты в свой запрос в зависимости от того, какое условие выполнено. Условия оцениваются по порядку. Соответствующий результат возвращается при выполнении условия, а все последующие условия пропускаются.

Вы можете включить условие ELSE в конце, если не выполнено ни одно из условий. Без ELSE запрос вернет значение NULL, если не выполнено ни одно из условий.

Вот пример использования CASE для возврата строки на основе запроса.

In [32]:
%%sql

SELECT first_name,
       last_name,
       CASE
         WHEN hair_color = 'brown' THEN 'This person has brown hair.'
         WHEN hair_color = 'blonde' THEN 'This person has blonde hair.'
         WHEN hair_color = 'red' THEN 'This person has red hair.'
         ELSE 'Hair color NOT known.'
       END AS hair_description
FROM people_massachusetts;

 * mysql://root:***@localhost/NewEngland
203 rows affected.

[('Dmitry', 'Miller', 'Hair color NOT known.'),
 ('Olivia', 'Miller', 'This person has brown hair.'),
 ('James', 'Hill', 'Hair color NOT known.'),
 ('Mikhail', 'Martinez', 'This person has brown hair.'),
 ('Thomas', 'Green', 'This person has blonde hair.'),
 ('Sarah', 'Pick', 'This person has red hair.'),
 ('Robert', 'Black', 'Hair color NOT known.'),
 ('Michael', 'Pick', 'This person has red hair.'),
 ('Michael', 'Shivtsov', 'Hair color NOT known.'),
 ('Vladislav', 'Green', 'This person has blonde hair.'),
 ('Michael', 'White', 'This person has red hair.'),
 ('James', 'Wilson', 'This person has red hair.'),
 ('Elizabeth', 'Martinez', 'This person has blonde hair.'),
 ('Olivia', 'Johnson', 'This person has brown hair.'),
 ('Michael', 'King', 'Hair color NOT known.'),
 ('William', 'Black', 'This person has blonde hair.'),
 ('Mikhail', 'King', 'This person has blonde hair.'),
 ('Anna', 'Pick', 'This person has red hair.'),
 ('James', 'Black', 'This person has brown hair.'),
 ('James', 'Virgin', 'This person has blonde hair.'),
 ('Robert', 'Brown', 'Hair color NOT known.'),
 ('James', 'Virgin', 'This person has blonde hair.'),
 ('Thomas', 'Shivtsov', 'Hair color NOT known.'),
 ('Robert', 'Green', 'Hair color NOT known.'),
 ('Charles', 'Johnson', 'Hair color NOT known.'),
 ('Thomas', 'Davis', 'This person has brown hair.'),
 ('Olivia', 'Pick', 'This person has blonde hair.'),
 ('Sophia', 'Pick', 'This person has blonde hair.'),
 ('David', 'Smith', 'This person has brown hair.'),
 ('Dick', 'Shivtsov', 'This person has brown hair.'),
 ('Mikhail', 'Brown', 'This person has red hair.'),
 ('Anna', 'Martinez', 'This person has blonde hair.'),
 ('Linda', 'Davis', 'Hair color NOT known.'),
 ('Sarah', 'Hill', 'Hair color NOT known.'),
 ('Sophia', 'Baker', 'Hair color NOT known.'),
 ('Anna', 'Hill', 'This person has red hair.'),
 ('Extra', 'Scott', 'This person has brown hair.'),
 ('Michael', 'Anderson', 'Hair color NOT known.'),
 ('Charles', 'Brown', 'This person has blonde hair.'),
 ('John', 'Scott', 'This person has red hair.'),
 ('James', 'Shivtsov', 'This person has red hair.'),
 ('James', 'Scott', 'Hair color NOT known.'),
 ('Vladislav', 'Virgin', 'Hair color NOT known.'),
 ('Charles', 'Wilson', 'This person has brown hair.'),
 ('William', 'King', 'Hair color NOT known.'),
 ('Linda', 'Wilson', 'This person has blonde hair.'),
 ('Michael', 'Smith', 'This person has blonde hair.'),
 ('Robert', 'Miller', 'Hair color NOT known.'),
 ('Vladislav', 'Davis', 'Hair color NOT known.'),
 ('Elizabeth', 'Miller', 'This person has blonde hair.'),
 ('Jessica', 'Pick', 'This person has blonde hair.'),
 ('Emily', 'Scott', 'This person has brown hair.'),
 ('Extra', 'Miller', 'Hair color NOT known.'),
 ('Emily', 'Smith', 'This person has red hair.'),
 ('Michael', 'Green', 'This person has blonde hair.'),
 ('Dmitry', 'Davis', 'This person has red hair.'),
 ('William', 'Anderson', 'This person has brown hair.'),
 ('Emily', 'King', 'Hair color NOT known.'),
 ('Elizabeth', 'Hill', 'Hair color NOT known.'),
 ('Jessica', 'Pick', 'This person has red hair.'),
 ('John', 'Green', 'Hair color NOT known.'),
 ('James', 'Hill', 'Hair color NOT known.'),
 ('Robert', 'Martinez', 'This person has brown hair.'),
 ('Mikhail', 'Adams', 'Hair color NOT known.'),
 ('Olivia', 'Anderson', 'Hair color NOT known.'),
 ('Extra', 'Shivtsov', 'This person has brown hair.'),
 ('Michael', 'King', 'Hair color NOT known.'),
 ('David', 'Brown', 'This person has blonde hair.'),
 ('Mikhail', 'Scott', 'Hair color NOT known.'),
 ('Thomas', 'Virgin', 'This person has brown hair.'),
 ('John', 'Davis', 'This person has red hair.'),
 ('Jessica', 'White', 'Hair color NOT known.'),
 ('John', 'Green', 'Hair color NOT known.'),
 ('Elizabeth', 'King', 'Hair color NOT known.'),
 ('Sophia', 'Hill', 'This person has red hair.'),
 ('Sophia', 'King', 'This person has brown hair.'),
 ('Sophia', 'Davis', 'This person has red hair.'),
 ('Extra', 'Green', 'This person has blonde hair.'),
 ('Jessica', 'Hill', 'This person has brown hair.'),
 ('Robert', 'White', 'This person has blonde hair.'),
 ('James', 'Davis', 'This person has blonde hair.'),
 ('Anna', 'Smith', 'Hair color NOT known.'),
 ('Dick', 'Johnson', 'Hair color NOT known.'),
 ('James', 'Johnson', 'This person has brown hair.'),
 ('Anna', 'King', 'This person has blonde hair.'),
 ('John', 'Adams', 'This person has brown hair.'),
 ('Dmitry', 'Brown', 'Hair color NOT known.'),
 ('Vladislav', 'Johnson', 'Hair color NOT known.'),
 ('Sophia', 'Smith', 'This person has blonde hair.'),
 ('Jessica', 'Davis', 'This person has blonde hair.'),
 ('Michael', 'King', 'Hair color NOT known.'),
 ('Jessica', 'Green', 'This person has blonde hair.'),
 ('Linda', 'Hill', 'This person has brown hair.'),
 ('Anna', 'Johnson', 'This person has blonde hair.'),
 ('Sophia', 'Anderson', 'Hair color NOT known.'),
 ('Linda', 'Brown', 'Hair color NOT known.'),
 ('Michael', 'Hill', 'Hair color NOT known.'),
 ('Extra', 'Wilson', 'This person has blonde hair.'),
 ('Michael', 'Martinez', 'This person has brown hair.'),
 ('Linda', 'Baker', 'This person has blonde hair.'),
 ('Sarah', 'Smith', 'Hair color NOT known.'),
 ('Olivia', 'Pick', 'Hair color NOT known.'),
 ('Vladislav', 'Smith', 'This person has blonde hair.'),
 ('Sarah', 'Miller', 'This person has red hair.'),
 ('John', 'Wilson', 'Hair color NOT known.'),
 ('Jessica', 'Shivtsov', 'This person has brown hair.'),
 ('Thomas', 'Pick', 'This person has blonde hair.'),
 ('Linda', 'Brown', 'This person has blonde hair.'),
 ('Linda', 'Virgin', 'This person has brown hair.'),
 ('Vladislav', 'Davis', 'Hair color NOT known.'),
 ('Extra', 'Davis', 'This person has brown hair.'),
 ('John', 'Shivtsov', 'Hair color NOT known.'),
 ('Sophia', 'Adams', 'This person has blonde hair.'),
 ('Elizabeth', 'Anderson', 'This person has brown hair.'),
 ('David', 'Pick', 'Hair color NOT known.'),
 ('Sarah', 'Wilson', 'Hair color NOT known.'),
 ('Emily', 'King', 'This person has blonde hair.'),
 ('William', 'Martinez', 'This person has blonde hair.'),
 ('Elizabeth', 'Miller', 'Hair color NOT known.'),
 ('Robert', 'Anderson', 'This person has blonde hair.'),
 ('Sarah', 'Green', 'This person has brown hair.'),
 ('Sophia', 'Davis', 'Hair color NOT known.'),
 ('Vladislav', 'Virgin', 'This person has brown hair.'),
 ('Linda', 'Shivtsov', 'Hair color NOT known.'),
 ('Elizabeth', 'Baker', 'This person has blonde hair.'),
 ('William', 'Hill', 'Hair color NOT known.'),
 ('Dick', 'Brown', 'Hair color NOT known.'),
 ('Dick', 'Virgin', 'This person has red hair.'),
 ('Vladislav', 'Black', 'Hair color NOT known.'),
 ('Emily', 'Anderson', 'This person has red hair.'),
 ('Sarah', 'Davis', 'Hair color NOT known.'),
 ('John', 'White', 'Hair color NOT known.'),
 ('John', 'King', 'This person has blonde hair.'),
 ('John', 'Johnson', 'Hair color NOT known.'),
 ('David', 'Virgin', 'Hair color NOT known.'),
 ('John', 'Davis', 'Hair color NOT known.'),
 ('Thomas', 'Davis', 'Hair color NOT known.'),
 ('John', 'Johnson', 'Hair color NOT known.'),
 ('Elizabeth', 'Pick', 'Hair color NOT known.'),
 ('Emily', 'Johnson', 'Hair color NOT known.'),
 ('Jessica', 'Black', 'This person has red hair.'),
 ('Emily', 'Virgin', 'This person has blonde hair.'),
 ('James', 'Hill', 'Hair color NOT known.'),
 ('Olivia', 'King', 'Hair color NOT known.'),
 ('Jessica', 'Miller', 'This person has blonde hair.'),
 ('Robert', 'Adams', 'Hair color NOT known.'),
 ('Dmitry', 'Black', 'This person has red hair.'),
 ('Thomas', 'Virgin', 'This person has brown hair.'),
 ('John', 'Brown', 'Hair color NOT known.'),
 ('Thomas', 'Adams', 'Hair color NOT known.'),
 ('Thomas', 'Davis', 'This person has red hair.'),
 ('Robert', 'Davis', 'This person has blonde hair.'),
 ('William', 'Anderson', 'Hair color NOT known.'),
 ('Anna', 'Johnson', 'Hair color NOT known.'),
 ('Jessica', 'Anderson', 'Hair color NOT known.'),
 ('Michael', 'Smith', 'Hair color NOT known.'),
 ('Extra', 'Adams', 'This person has red hair.'),
 ('Sophia', 'White', 'Hair color NOT known.'),
 ('Elizabeth', 'Smith', 'This person has blonde hair.'),
 ('Robert', 'Davis', 'This person has brown hair.'),
 ('Jessica', 'Shivtsov', 'This person has blonde hair.'),
 ('Robert', 'Hill', 'Hair color NOT known.'),
 ('Extra', 'Virgin', 'Hair color NOT known.'),
 ('Sophia', 'Johnson', 'Hair color NOT known.'),
 ('Charles', 'Anderson', 'Hair color NOT known.'),
 ('Sophia', 'King', 'This person has red hair.'),
 ('Olivia', 'Adams', 'This person has blonde hair.'),
 ('John', 'Adams', 'Hair color NOT known.'),
 ('Vladislav', 'Black', 'This person has blonde hair.'),
 ('Mikhail', 'Davis', 'This person has blonde hair.'),
 ('Linda', 'Martinez', 'This person has blonde hair.'),
 ('Jessica', 'Hill', 'This person has blonde hair.'),
 ('Robert', 'White', 'Hair color NOT known.'),
 ('Sarah', 'Adams', 'This person has blonde hair.'),
 ('Emily', 'Baker', 'This person has brown hair.'),
 ('Dmitry', 'Wilson', 'This person has blonde hair.'),
 ('Mikhail', 'White', 'This person has red hair.'),
 ('William', 'Anderson', 'This person has red hair.'),
 ('Jessica', 'Miller', 'Hair color NOT known.'),
 ('James', 'White', 'This person has brown hair.'),
 ('Linda', 'Green', 'This person has brown hair.'),
 ('William', 'Scott', 'Hair color NOT known.'),
 ('Olivia', 'Adams', 'Hair color NOT known.'),
 ('Dmitry', 'Virgin', 'This person has red hair.'),
 ('William', 'Davis', 'This person has red hair.'),
 ('Robert', 'Wilson', 'Hair color NOT known.'),
 ('Sarah', 'Green', 'This person has red hair.'),
 ('James', 'Davis', 'Hair color NOT known.'),
 ('David', 'Davis', 'This person has red hair.'),
 ('Sophia', 'Baker', 'This person has red hair.'),
 ('William', 'Smith', 'This person has brown hair.'),
 ('Emily', 'White', 'This person has brown hair.'),
 ('Dmitry', 'King', 'Hair color NOT known.'),
 ('Emily', 'Scott', 'This person has blonde hair.'),
 ('Jessica', 'Black', 'This person has red hair.'),
 ('William', 'Baker', 'This person has brown hair.'),
 ('Dmitry', 'Miller', 'This person has red hair.'),
 ('Charles', 'Hill', 'This person has blonde hair.'),
 ('James', 'Hill', 'Hair color NOT known.'),
 ('Dick', 'Miller', 'Hair color NOT known.'),
 ('Jane', 'Doe', 'This person has brown hair.'),
 ('Jane', 'Doe', 'This person has brown hair.'),
 ('Jane', 'Doe', 'This person has brown hair.')]

## <a id='toc1_29_'></a>[Основные SQL-запросы, которые должны знать Маркетологи](#toc0_)
Поздравляю! Вы готовы выполнять свои собственные SQL-запросы.

Несмотря на то, что с помощью SQL вы можете сделать гораздо больше, я надеюсь, что этот обзор основ оказался для вас полезным и вы сможете не заморачиваться.

Хорошо зная основы, вы сможете лучше ориентироваться в SQL и работать с некоторыми более сложными примерами.